* {
    box-sizing: border-box;
}
  
body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: #434343;
	background-color: #e9fce9;
	box-sizing: border-box;
}

header {
	background-color: #434343;
	display: flex;
	text-align: left;
}
h1 {
	display: flex;
	color: #434343;
	background-color: #e9fce9;
	align-items: left;
	border-radius: 5px;
	padding: 10px;
}

section {
	margin-left: 100px;
	margin-top: 20px;
}

article {
	margin-left: 100px;
	margin-top: 20px;
}

.card {
	margin: 20px;
	background-color: #e9fce9;
}
.card-header {
	background-color: #434343;
	color: #e9fce9;
}
span {
	font-size: 15px;
}

.card-body {
	background-color: #e9fce9;
}

footer {
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: center;
	padding: 1%;
	font-size: 110%;
	background-color: #434343;
	color: #e9fce9;
}